<div id="menu-wrapper">
    <div id="menu" class="container">
        <ul>
            <li><a href="{{ base_url }}">Homepage</a></li>
            <li><a href="{{ base_url }}/index.php/products">Products</a></li>
            {% if logged_in == false %}
                <li><a href="{{ base_url }}/index.php/login">Login</a></li>
                <li><a href="{{ base_url }}/index.php/register">Register</a></li>
            {% else %}
                <li><a href="{{ base_url }}/index.php/add-product">Add product</a></li>
                <li><a href="{{ base_url }}/index.php/delete-products">Delete product</a></li>
                <li><a href="{{ base_url }}/index.php/logout">Logout</a></li>
            {% endif %}
        </ul>
    </div>
</div>